* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
header {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-block: 20px;
  height: 80px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 16px #0000000a;
}
.container1 {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: #16181D;
  font-family: "Inter", sans-serif;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 23.25px;
  font-style: normal;
}
.logoSpan {
  color: #0080ff;
}
.navList {
  display: flex;
  max-width: 317px;
  gap: 32px;
  list-style: none;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.navList a {
  text-decoration: none;
  color: #64748b;
}
.navList a:hover {
  color: #000;
}
.navList a.active {
  color: #0080ff;
}
.headerActions {
  display: flex;
  max-width: 352px;
  gap: 1rem;
  justify-content: space-between;
}
.searchBtn {
  padding: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.searchBtn:hover {
  background-color: whitesmoke;
  border-radius: 40%;
}
.login {
  border: 1px #e2e8f0 solid;
  padding-inline: 17px;
  padding-top: 9.5px;
  padding-bottom: 10.5px;
  border-radius: 14px;
  background-color: transparent;
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  cursor: pointer;
}
.login:hover {
  background-color: whitesmoke;
}
.upload {
  border: none;
  padding-inline: 16px;
  padding-top: 9.5px;
  padding-bottom: 10.5px;
  border-radius: 14px;
  background-color: #0080ff;
  color: #ffffff;
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  cursor: pointer;
}
.upload:hover {
  background-color: #00f;
}
.section2 {
  width: 100%;
  height: 380px;
  background: linear-gradient(to bottom, #eff6ff, #eff6ff00);
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
  align-items: center;
}
.mission-span {
  color: #0080ff;
}
.section2-text h4 {
  max-width: 768px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 45px;
  color: #16181d;
  margin-bottom: 24px;
  height: 48px;
  margin-inline: auto;
}
.section2-para {
  max-width: 686px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #64748b;
  text-align: center;
  margin-inline: auto;
}
.section3 {
  width: 85%;
  height: 472px;
  margin-top: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin: auto;
}
.section3 h5 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 33.89px;
  color: #16181d;
  line-height: 40px;
  letter-spacing: 0%;
  margin-bottom: 16px;
  width: 584px;
}
.section3 .para {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #64748b;
  width: 584px;
  margin-bottom: 16px;
}
.section3 .para1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #64748b;
  width: 584px;
  margin-bottom: 48px;
}
.section3 .param {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #64748b;
  width: 584px;
  margin-bottom: 0px;
}
.vision-card {
  background: linear-gradient(to bottom, #0080ff33, #60a5fa33);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 438px;
  border-radius: 16px;
}
.story-card {
  width: 50%;
}
.main-vision-card {
  width: 384px;
  height: 250px;
  background: #ffffffb2;
  border-radius: 12px;
  padding: 33px;
  border: 1px;
  text-align: center;
  box-shadow: 0px 8px 32px #0000000f;
}
.main-vision-card h6 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 23.25px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #16181d;
  margin-bottom: 16px;
}
.main-vision-card p {
  width: 321px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: #16181d;
  margin-bottom: 24px;
  text-align: auto;
}
.guide-btn {
  padding: 9.5px, 16px, 10.5px, 16px;
  font-family: "Inter", sans-serif;
  background: #0080ff;
  border-radius: 14px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 163px;
  height: 40px;
  transition: 0.3s ease-in-out;
}
.guide-btn:hover {
  background: #005fcc;
}
.section4 {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  align-items: center;
  width: 100%;
  height: 310px;
  background-color: #f7fafd;
  margin-top: 96px;
}
.section4-card {
  width: 286px;
  height: 118px;
  border-radius: 16px;
  border: 1px solid #ffffff33;
  padding: 25px;
  gap: 8px;
  box-shadow: 0px, 4px, 16px, #0000000a;
  background-color: #ffffffcc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section4 h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 34.45px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #0080ff;
  margin-bottom: 8px;
}
.section4 p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #64748b;
  letter-spacing: 0%;
}
.section5 {
  width: 100%;
  height: 374px;
  margin-top: 96px;
}
.section5-text {
  text-align: center;
  margin-bottom: 48px;
}
.section5-text h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 33.33px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #16181d;
  margin-bottom: 16px;
}
.section5-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #64748b;
}
.values-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.value-card {
  width: 384px;
  height: 242px;
  border-radius: 16px;
  border: 1px solid #ffffff33;
  background-color: #ffffffcc;
  box-shadow: 0px 4px 16px #0000000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.value-card img {
  margin-bottom: 24px;
  align-self: center;
  object-fit: cover;
}
.value-card h6 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 19.84px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #16181d;
  margin-bottom: 12px;
}
.value-card p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #64748b;
  width: 318px;
}
.section6 {
  padding-top: 96px;
  width: 100%;
  height: 486px;
  margin-top: 96px;
}
.section6-text {
  text-align: center;
  margin-bottom: 48px;
}
.section6-text h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 33.47px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #16181d;
  margin-bottom: 16px;
}
.section6-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #64748b;
}
.team-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-card {
  width: 286px;
  height: 258px;
  border-radius: 16px;
  border: 1px solid #ffffff33;
  background-color: #ffffffcc;
  box-shadow: 0px 4px 16px #0000000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 16px 8px;
}
.team-card img {
  margin-bottom: 16px;
  align-self: center;
  object-fit: cover;
}
.team-card h5 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17.72px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #16181d;
}
.team-card h6 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #0080ff;
  margin-bottom: 8px;
}
.team-card p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #64748b;
}
.section7 {
  background-color: #f7fafd;
  margin-top: 96px;
  padding-top: 96px;
  width: 100%;
  height: 490px;
}
.section7-text {
  text-align: center;
  margin-bottom: 48px;
}
.section7-text h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 33.05px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #16181d;
  margin-bottom: 16px;
}
.section7-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #64748b;
  width: 428px;
  margin-inline: auto;
}
.cities-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 24px 24px;
  justify-items: center;
  width: 90%;
  height: 138px;
  border-radius: 16px;
  padding: 33px;
  background-color: #ffffffcc;
  border: 1px solid #ffffff33;
  box-shadow: 0px 4px 16px #0000000a;
  margin: auto;
}
.cities-list p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #16181d;
}
.section8 {
  margin-top: 96px;
  width: 100%;
  height: 310px;
}
.section8-text {
  text-align: center;
  margin-bottom: 32px;
}
.section8-text h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 33.61px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #16181d;
  margin-bottom: 24px;
}
.section8-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #64748b;
  width: 672px;
  margin-inline: auto;
}
.section8-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.section8-buttons .btn1 {
  background-color: #0080ff;
  padding: 11.5px, 32px, 12.5px, 32px;
  border-radius: 14px;
  height: 44px;
  border: 1px solid #0080ff;
  width: 169px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff;
}
.section8-buttons .btn1:hover {
  background-color: #00f;
}
.section8-buttons .btn2 {
  background-color: #ffffff;
  color: #16181d;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  cursor: pointer;
  width: 186px;
  height: 44px;
  border: 1px solid #e2e8f0;
  padding: 11.5px, 33px, 12.5px, 33px;
  border-radius: 14px;
}
.section8-buttons .btn2:hover {
  background-color: #f7fafd;
}
.container6 {
  padding: 32px;
  width: 88.89%;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 16.5px;
}
.description p {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgba(100, 116, 139, 1);
  width: 274px;
}
.descriptionicons {
  display: flex;
  gap: 16px;
}
.footer-links h4 {
  font-family: "Inter Variable", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 16px;
}
.footer-links li,
.contacts p {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgba(100, 116, 139, 1);
  list-style: none;
  cursor: pointer;
}
.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts div {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer {
  background-color: rgba(247, 250, 253, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 64px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.contdiv {
  margin-bottom: 12px;
}
.footer-links li:hover {
  color: rgba(0, 128, 255, 1);
}
.last-div li {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgba(100, 116, 139, 1);
  list-style: none;
  cursor: pointer;
}
.last-div ul {
  display: flex;
  gap: 24px;
}
.organization {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgba(100, 116, 139, 1);
}
.last-div {
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
}
.last-cont {
  margin-top: 97px;
  border-top: 1px rgba(226, 232, 240, 1) solid;
}
