* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
header {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-block: 20px;
  height: 80px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 16px #0000000a;
}
.container1 {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: #16181d;
  font-family: "Inter", sans-serif;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 23.25px;
  font-style: normal;
}
.logoSpan {
  color: #0080ff;
}
.navList {
  display: flex;
  max-width: 317px;
  gap: 32px;
  list-style: none;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.navList a {
  text-decoration: none;
  color: #64748b;
}
.navList a:hover {
  color: #000;
}
.navList a.active {
  color: #0080ff;
}
.headerActions {
  display: flex;
  max-width: 352px;
  gap: 1rem;
  justify-content: space-between;
}
.searchBtn {
  padding: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.searchBtn:hover {
  background-color: whitesmoke;
  border-radius: 40%;
}
.login {
  border: 1px #e2e8f0 solid;
  padding-inline: 17px;
  padding-top: 9.5px;
  padding-bottom: 10.5px;
  border-radius: 14px;
  background-color: transparent;
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  cursor: pointer;
}
.login:hover {
  background-color: whitesmoke;
}
.upload {
  border: none;
  padding-inline: 16px;
  padding-top: 9.5px;
  padding-bottom: 10.5px;
  border-radius: 14px;
  background-color: #0080ff;
  color: #ffffff;
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  cursor: pointer;
}
.upload:hover {
  background-color: #00f;
}
.hero {
  height: 810px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/apartments.jpg") no-repeat center center/cover;
  align-items: center;
  text-align: center;
  position: relative;
  padding-top: 215px;
}
.hero-text {
  width: 53.3%;
  height: 192px;
  gap: 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-text h1 {
  font-family: "Inter", sans-serif;
  font-size: 56.37px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0%;
  color: #ffffff;
}
.hero-text p {
  font-family: "Inter", sans-serif;
  font-size: 19.22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  color: #ffffffe5;
  width: 474px;
  margin-bottom: 32px;
}
.location-input {
  background: url("./images/location.svg") no-repeat 10px center;
  padding-left: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 17px;
  width: 227.77px;
  height: 80px;
  border: 1px solid #ffffffb2;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #64748b;
}
.search-form {
  width: 827.3px;
  height: 82px;
  border-radius: 12px;
  padding: 1px;
  background-color: #ffffffb2;
  border: 1px solid #ffffff1a;
  box-shadow: 0px 8px 32px #0000000f;
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
}
.location-input:focus,
.price-range-select:focus,
.property-type-select:focus {
  outline: none;
  border: 1px solid #0080ff33;
  box-shadow: 0 0 0 1px #0080ff33;
}
.location-input::placeholder,
.price-input::placeholder {
  color: #64748b;
}
.property-type-select {
  width: 277.77px;
  height: 80px;
  border: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #16181d;
  cursor: pointer;
}
.price-range-select {
  width: 277.77px;
  height: 80px;
  border: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #16181d;
  cursor: pointer;
  padding-right: 6rem;
}
.form-btn {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 143px;
  height: 36px;
  padding: 8px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #0080ff;
  border: none;
  border-top-right-radius: 12px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-btn:hover {
  background-color: #00f;
}
.price-range-select option {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #16181d;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 24px;
  width: 827.3px;
  height: 122px;
  margin-top: 64px;
}
.stat-card {
  background-color: #ffffffb2;
  width: 188.8px;
  height: 122px;
  padding: 17px;
  border: 1px solid #ffffff1a;
  backdrop-filter: blur(12px);
  box-shadow: 0px 8px 32px #0000000f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.stat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.stat-card p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffffcc;
}
.stat-card h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 28.36px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #ffffff;
}
.section3 {
  width: 100%;
  background-color: #ffffff;
  margin-top: 96px;
  margin-bottom: 96px;
}
.section3-container {
  width: 88.89%;
  margin: auto;
}
.section3-text {
  max-width: 672px;
  height: 84px;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.section3-text h2 {
  font-family: "Inter", sans-serif;
  font-size: 33.19px;
  font-weight: 500;
  line-height: 40px;
  color: #16181d;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
.section3-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17.44px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #64748b;
}
.properties {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 96px;
}
.container3 {
  padding-inline: 32px;
  width: 89%;
}

.topcont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.filter,
.sort {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 17px;
  padding-top: 9.5px;
  padding-bottom: 10.5px;
  border: 1px solid rgba(226, 232, 240, 1);
  border-radius: 14px;
}

.properties-card {
  width: 284px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(4px);
  overflow: hidden;
  cursor: pointer;
}

.order {
  display: flex;
  gap: 16px;
}

.describe h4 {
  font-family: "Inter Variable", sans-serif;
  font-size: 17.72px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
}

.about h5 {
  font-family: "Inter Variable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  color: rgba(0, 128, 255, 1);
}

.describe {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px;
}

.describe p,
.about p {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 28x;
  color: rgba(100, 116, 139, 1);
}

.about span {
  color: rgba(100, 116, 139, 1);
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  margin-left: 4px;
}

.property-img {
  position: relative;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  transition: transform 0.3s ease;
}

.properties-card h4 {
  transition: color 0.3s ease;
}

.properties-card:hover {
   box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}

.properties-card:hover .img-cont img {
  transform: scale(1.1);
}

.properties-card:hover h4 {
  color: rgba(0, 128, 255, 1);
}

.img-cont img {
  height: 213px;
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  transition: transform 0.4s ease;
}

.love-icon {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(4px);
  position: absolute;
  top: 12px;
  right: 12px;
}

.heart path {
  stroke: #64748b;
  stroke-width: 2;
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.heart.favorited path {
  fill: red;
  stroke: none;
}

.heart.animate path {
  animation: pulse 0.6s ease forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.para {
  display: flex;
  gap: 12px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-content: space-between;
}

.view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 193px;
  height: 40px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  padding: 9.5px 17px 10.5px 17px;
  color: #16181d;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 48px;
  margin-bottom: 96px;
}
.view-btn:hover {
  background-color: #0080ff;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(0,  0,  0,  0.15);
}
.section4 {
  width: 100%;
  height: 702px;
  background-color: #f7fafd;
  padding-top: 96px;
}
.section4-container {
  width: 88.89%;
  margin: auto;
}
.section4-text {
  max-width: 672px;
  height: 112px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.section4-text h2 {
  font-family: "Inter", sans-serif;
  font-size: 33.61px;
  font-weight: 500;
  line-height: 40px;
  color: #16181d;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
.section4-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17.58px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #64748b;
}
.section4-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 48px;
}
.section4-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.section4-card:hover h3 {
  color: #0080ff;
}
.section4-card {
  width: 384px;
  height: 262px;
  border-radius: 16px;
  border: 1px solid #ffffff33;
  padding: 33px;
  background-color: #ffffffcc;
  box-shadow: 0 4px 16px #0000000a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section4-card img {
  margin-bottom: 20px;
}
.section4-card h3 {
  font-family: "Inter", sans-serif;
  font-size: 19.38px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  color: #16181d;
  margin-bottom: 12px;
}
.section4-card p {
  font-family: "Inter", sans-serif;
  font-size: 15.75px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: #64748b;
  width: 317px;
}
.learn-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 267px;
  height: 40px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  padding: 9.5px 17px 10.5px 17px;
  color: #16181d;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-bottom: 96px;
  margin-top: 48px;
}
.learn-more-btn:hover {
  background-color: #0080ff;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.section5 {
  width: 100%;
  background-color: #ffffff;
  margin-top: 96px;
  margin-bottom: 96px;
}
.section5-container {
  width: 88.89%;
  margin: auto;
}
.section5-text {
  max-width: 672px;
  height: 84px;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.section5-text h2 {
  font-family: "Inter", sans-serif;
  font-size: 33.19px;
  font-weight: 500;
  line-height: 40px;
  color: #16181d;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
.section5-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17.44px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #64748b;
}
.view-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 188px;
  height: 40px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  padding: 9.5px 16px 10.5px 16px;
  color: #ffffff;
  background-color: #0080ff;
  border: 1px solid #e2e8f0;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 48px;
  margin-bottom: 96px;
}
.view-all-btn:hover {
  background-color: #ffffff;
  color: #16181d;
  box-shadow: 0 8px 20px rgba(0,  0,  0,  0.15);
}
.section6 {
  width: 100%;
  background-color: #f7fafd;
  margin-top: 96px;
  margin-bottom: 96px;
}
.section6-container {
  margin: auto;
  width: 88.89%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding-top: 96px;
}
.section6-texts {
  width: 100%;
}
.section6-img {
  width: 100%;
}
.section6-texts h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 33.33px;
  line-height: 40px;
  color: #16181d;
  letter-spacing: 0%;
  width: 576px;
  margin-bottom: 24px;
}
.section6-texts p {
  font-family: "Inter", sans-serif;
  font-size: 17.58px;
  font-weight: 400;
  line-height: 28px;
  color: #64748b;
  letter-spacing: 0%;
  width: 500px;
  margin-bottom: 24px;
}
.section6-h6 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.section6-h6 h6 {
  display: flex;
  gap: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15.75px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #16181d;
}
.section6-texts button {
  width: 229px;
  height: 48px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  padding: 9.5px 16px 10.5px 16px;
  color: #ffffff;
  background-color: #0080ff;
  border: 1px solid #e2e8f0;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 96px;
}
.section6-texts button:hover {
  background-color: #ffffff;
  color: #16181d;
  box-shadow: 0 8px 20px rgba(0,  0,  0,  0.15);
}
.section4 {
  width: 100%;
  height: 702px;
  background-color: #f7fafd;
  padding-top: 96px;
}
.section4-container {
  width: 88.89%;
  margin: auto;
}
.section4-text {
  max-width: 672px;
  height: 112px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.section4-text h2 {
  font-family: "Inter", sans-serif;
  font-size: 33.61px;
  font-weight: 500;
  line-height: 40px;
  color: #16181d;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
.section4-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17.58px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #64748b;
}
.section4-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 48px;
}
.section4-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.section4-card:hover h3 {
  color: #0080ff;
}
.section4-card {
  width: 384px;
  height: 262px;
  border-radius: 16px;
  border: 1px solid #ffffff33;
  padding: 33px;
  background-color: #ffffffcc;
  box-shadow: 0 4px 16px #0000000a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section4-card img {
  margin-bottom: 20px;
}
.section4-card h3 {
  font-family: "Inter", sans-serif;
  font-size: 19.38px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  color: #16181d;
  margin-bottom: 12px;
}
.section4-card p {
  font-family: "Inter", sans-serif;
  font-size: 15.75px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: #64748b;
  width: 317px;
}
.section7 {
  width: 100%;
  height: 702px;
  background-color: #ffffff;
}
.section7-container {
  width: 88.89%;
  margin: auto;
}
.section7-text {
  max-width: 672px;
  height: 112px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.section7-text h2 {
  font-family: 'Inter', sans-serif;
  font-size: 33.61px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  color: #16181D;
}
.section7-text p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 17.58px;
  color: #64748B;
  line-height: 28px;
  letter-spacing: 0%;
  width: 672px;
}
.section7-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 48px;
}
.section7-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.section4-card:hover h3 {
  color: #0080ff;
}
.section7-card {
  width: 384px;
  height: 262px;
  border-radius: 16px;
  border: 1px solid #ffffff33;
  padding: 33px;
  background-color: #ffffffcc;
  box-shadow: 0 4px 16px #0000000a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section7-card img {
  margin-bottom: 20px;
}