* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  width: 100%;
  padding-block: 20px;
  height: 80px;
  /* position: fixed; */
  margin-bottom: 20px;
}

.container1 {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: black;
}

.logoSpan {
  color: #0080ff;
}
.navList {
  display: flex;
  max-width: 317px;
  gap: 2rem;
  list-style: none;
  font-size: 14px;
}

.navList a {
  text-decoration: none;
  color: black;
}

.headerActions {
  display: flex;
  max-width: 352px;
  gap: 1rem;
  justify-content: space-between;
}

.searchBtn {
  padding: 12px;
  border: none;
  background-color: transparent;
}

.login {
  border: 1px #e2e8f0 solid;
  padding-inline: 17px;
  padding-top: 9.5px;
  padding-bottom: 10.5px;
  border-radius: 14px;
  background-color: transparent;
  cursor: pointer;
}

.upload {
  border: none;
  padding-inline: 16px;
  padding-top: 9.5px;
  padding-bottom: 10.5px;
  border-radius: 14px;
  background-color: #0080ff;
  color: #ffffff;
  cursor: pointer;
}

.heroSection {
  width: 100%;
  height: 810px;
  background: url('./images/apartments.jpg');
  background-size: cover;
}

.heroText {
  padding-top: 215px;
  padding-left: 100px;
  max-width: 768px;
  color: #ffffff;
  margin-inline: auto;
  margin-bottom: 32px;
}

.heroHeading {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  width: 630px;
  height: 120px;
  line-height: 60px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 16px;
}

.heroPara {
  width: 474px;
  height: 56px;
  font-family: 'Inter', sans-serif;
  font-size: 19.22px;
  font-weight: 400;
  color: #ffffff;
  opacity: 90%;
  text-align: center;
}



/* Hamburger Icon .hamburger { */
  /* display: none; */
  /* flex-direction: column; */
  /* cursor: pointer; */
/* } */
/*  */
/* .hamburger span { */
  /* height: 3px; */
  /* width: 25px; */
  /* background: #fff; */
  /* margin: 4px 0; */
  /* border-radius: 5px; */
  /* transition: 0.3s; */
/* } */

/* Hamburger animation (turn into X) */
/* .hamburger.active span:nth-child(1) { */
/* transform: rotate(45deg) translate(5px, 5px); */
/* } */

/* .hamburger.active span:nth-child(2) { */
/* opacity: 0; */
/* } */

/* .hamburger.active span:nth-child(3) { */
/* transform: rotate(-45deg) translate(5px, -5px); */
/* } */

/* Mobile view */
/* @media screen and (max-width: 768px) { */
/* .hamburger { */
/* display: flex; */
/* } */

/* .nav-links { */
/* position: absolute; */
/* top: 60px; */
/* right: -100%; */
/* background: #333; */
/* flex-direction: column; */
/* width: 200px; */
/* padding: 20px; */
/* transition: right 0.3s ease-in-out; */
/* } */

/* .nav-links.show { */
/* right: 0; */
/* } */
/* } */
