* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

header {
  width: 100%;
  max-width: 1440px;
  padding-block: 20px;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px whitesmoke solid;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container1 {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: black;
  font-family: "Inter Variable", sans-serif;
  font-size: 23.25px;
  font-style: normal;
  font-weight: 400;
}

.logo span {
  color: #0080ff;
}
.nav-links {
  display: flex;
  max-width: 317px;
  gap: 2rem;
  list-style: none;
  font-size: 14px;
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.nav-links a {
  text-decoration: none;
  color: #64748b;
}

nav a.active {
  color: rgba(0, 128, 255, 1);
}

nav a.active:hover {
  color: rgba(0, 128, 255, 1);
}

.nav-links a:hover {
  color: black;
}

.header-actions {
  display: flex;
  max-width: 352px;
  gap: 1rem;
  justify-content: space-between;
}

.menu-icon {
  display: none;
}

.search-btn {
  padding: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-btn:hover {
  background-color: whitesmoke;
  border-radius: 40%;
}

.login {
  border: 1px #e2e8f0 solid;
  padding-inline: 17px;
  padding-top: 9.5px;
  padding-bottom: 10.5px;
  border-radius: 14px;
  background-color: transparent;
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

.login:hover {
  background-color: whitesmoke;
}

.upload {
  border: none;
  padding-inline: 16px;
  padding-top: 9.5px;
  padding-bottom: 10.5px;
  border-radius: 14px;
  background-color: #0080ff;
  color: #ffffff;
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.upload:hover {
  background-color: rgba(0, 128, 255, 0.8);
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}
.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #16181d;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}
.overlay.active {
  display: block;
}
@media screen and (max-width: 1024px) {
  .mainNav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 280px;
    background: #fff;
    padding-top: 100px;
    transition: right 0.3s ease-in-out;
    z-index: 200;
  }
  .mainNav.active {
    right: 0;
  }
  .navList {
    flex-direction: column;
    gap: 24px;
    padding-left: 24px;
  }
  .headerActions {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 250, 253, 1);
}

/* form section */

.container2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 128px;
  margin-bottom: 64px;
  padding-inline: 32px;
  width: 89%;
}

.container2 h2 {
  font-family: "Inter Variable", sans-serif;
  font-size: 33.3px;
  font-weight: 400;
  font-style: normal;
}
.container2 p {
  font-family: "Inter Variable", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  width: 646px;
  line-height: 28px;
  color: rgba(100, 116, 139, 1);
}

form {
  display: flex;
  width: 100%;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(12px);
  background: white;
}
form.error input {
  border-bottom-color: #e74c3c;
}
form.success input {
  border-bottom-color: #2ecc71;
}
form.error small {
  visibility: visible;
  color: rgb(231, 70, 75);
}
small {
  visibility: hidden;
  position: absolute;
  bottom: 6px;
  left: 25px;
  font-size: 12px;
  color: rgb(231, 70, 75);
  font-family: "Inter Variable", sans-serif;
}

.input-with-icon {
  position: relative;
  width: 100%;
  height: 72px;
  border-right: 1px solid rgba(226, 232, 240, 1);
}

.input-with-icon input {
  width: 100%;
  height: 100%;
  padding-left: 58.14px;
  font-size: 16px;
  color: rgba(100, 116, 139, 1);
  border-right: 1px solid rgba(226, 232, 240, 1);
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border-block: none;
  border-left: none;
  outline: none;
  font-size: 16px;
}

.input-with-icon input::placeholder {
  font-size: 14px;
  font-family: "Inter Variable", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.input-with-icon .icon {
  position: absolute;
  top: 26px;
  left: 16px;
}

select option {
  text-decoration: none;
  font-size: 14px;
  outline: none;
}

.type-cont {
  width: 100%;
  height: 72px;
  align-content: center;
  border-right: 1px rgba(226, 232, 240, 1) solid;
  background-color: #ffffff;
}

.type-cont h6 {
  padding-left: 20px;
  font-family: "Inter Variable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.prices h5 {
  padding-left: 16px;
  font-family: "Inter Variable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgba(100, 116, 139, 1);
}

.prices {
  font-family: "Inter Variable", sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
}

.prices label {
  font-size: 16px;
  font-weight: 400;
  color: rgba(100, 116, 139, 1);
}

/* dropdown wrapper */
.dropdown {
  position: relative;
  width: 95%;
}

/* input + arrow wrapper */
.dropdown-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 10px 12px;
  cursor: pointer;
  background: #f9f9f9;
}

/* input inside dropdown */
.dropdown-box input {
  border: none;
  outline: none;
  background: transparent;
<<<<<<< HEAD
  flex: 1 1 auto;    
  min-width: 0; 
  cursor: pointer;
  font-size: 16px;
   white-space: nowrap;  
  overflow: hidden;     
=======
  flex: 1 1 auto; /* allow grow and shrink */
  min-width: 0;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap; /* keep text on one line */
  overflow: hidden; /* needed for ellipsis */
>>>>>>> b2d7aab36c7610e66badd08ce44964209f6aaa8b
  text-overflow: ellipsis;
}

.dropdown-box input::placeholder {
   font-size: 16px;
   font-family: "Inter Variable", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(22, 24, 29, 1);
}

.dropdown-box {
  background: transparent;
}
/* arrow */
.dropdown-arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

/* rotate arrow when open */
.prices.active .dropdown-arrow {
  transform: rotate(180deg);
}

/* Dropdown list */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5px;
  list-style: none;
  padding: 0;
  display: none;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Dropdown items */
.dropdown-menu li button {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 24px 16px;
  font-size: 14px;
  cursor: pointer;
  color: black;
}

.dropdown-menu li button:hover {
  background: #f3f3f3;
}

/* Show when active */
.prices.active .dropdown-menu {
  display: block;
}

/* any type drop dowm */

/* Container */
.type-cont {
  position: relative;
  width: 100%;
}

/* Input wrapper */
.type-box {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  background: #fff;
  cursor: pointer;
}

.type-box input {
  flex: 1 1 auto;
  min-width: 0;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.type-box input::placeholder {
  font-size: 16px;
   font-family: "Inter Variable", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(22, 24, 29, 1);
}

/* Dropdown menu */
.type-menu {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.type-menu li button {
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  color: black;
}

.type-menu li button:hover {
  background: #f3f3f3;
}

/* Show menu when active */
.type-cont.open .type-menu {
  display: block;
}

form button {
  width: 143px;
  height: 36px;
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: rgba(0, 128, 255, 1);
  color: #ffffff;
  border: none;
  border-top-right-radius: 12px;
  transition: background-color 0.3s;
}

.input-btn {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #ffffff;
}

.input-btn button:hover {
  background-color: rgba(0, 128, 255, 0.8);
}

/* properties-card section */

.properties {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 96px;
}
.container3 {
  padding-inline: 32px;
  width: 89%;
}

.topcont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.filter,
.sort {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 17px;
  padding-top: 9.5px;
  padding-bottom: 10.5px;
  border: 1px solid rgba(226, 232, 240, 1);
  border-radius: 14px;
}
.filter p,
.sort p {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.properties-card {
  width: 284px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(4px);
  overflow: hidden;
  cursor: pointer;
}

.order {
  display: flex;
  gap: 16px;
}

.describe h4 {
  font-family: "Inter Variable", sans-serif;
  font-size: 17.72px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
}

.about h5 {
  font-family: "Inter Variable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  color: rgba(0, 128, 255, 1);
}

.describe {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px;
}

.describe p,
.about p {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 28x;
  color: rgba(100, 116, 139, 1);
}

.about span {
  color: rgba(100, 116, 139, 1);
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  margin-left: 4px;
}

.property-img {
  position: relative;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  transition: transform 0.3s ease;
}

.properties-card h4 {
  transition: color 0.3s ease;
}

.properties-card:hover {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}

.properties-card:hover .img-cont img {
  transform: scale(1.1);
}

.properties-card:hover h4 {
  color: rgba(0, 128, 255, 1);
}

.img-cont img {
  height: 213px;
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  transition: transform 0.4s ease;
}

.love-icon {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(4px);
  position: absolute;
  top: 12px;
  right: 12px;
}

.heart path {
  stroke: #64748b;
  stroke-width: 2;
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.heart.favorited path {
  fill: red;
  stroke: none;
}

.heart.animate path {
  animation: pulse 0.6s ease forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.para {
  display: flex;
  gap: 12px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-content: space-between;
}

/* footer */

.container6 {
  padding: 32px;
  width: 88.89%;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 16.5px;
}

.description p {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgba(100, 116, 139, 1);
  width: 274px;
}

.descriptionicons {
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.firsticon:hover svg path,
.secondicon:hover svg path,
.thirdicon:hover svg path {
  stroke: rgba(0, 128, 255, 1);
}

.footer-links h4 {
  font-family: "Inter Variable", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer-links li,
.contacts p {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgba(100, 116, 139, 1);
  list-style: none;
  cursor: pointer;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts div {
  display: flex;
  align-items: center;
  gap: 12px;
}

footer {
  background-color: rgba(247, 250, 253, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 64px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.contdiv {
  margin-bottom: 12px;
}

.footer-links a:hover {
  color: rgba(0, 128, 255, 1);
}

.footer-links a {
  text-decoration: none;
  color: rgba(100, 116, 139, 1);
}

.last-div li {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgba(100, 116, 139, 1);
  list-style: none;
  cursor: pointer;
}

.last-div ul {
  display: flex;
  gap: 24px;
}

.organization {
  font-family: "Inter Variable", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgba(100, 116, 139, 1);
}

.last-div {
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
}

.last-cont {
  margin-top: 97px;
  border-top: 1px rgba(226, 232, 240, 1) solid;
}

@media (max-width: 1024px) {
  .property-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .nav-links {
    display: none;
  }
  .header-actions {
    display: none;
  }
  .property-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  form {
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
  }
  .container2 {
    width: 89%;
  }
  .dropdown-box {
    width: 100%;
    justify-content: space-between;
  }
  .input-btn {
    border-bottom-left-radius: 12px;
  }
  .input-with-icon input {
    border-bottom: 1px rgba(226, 232, 240, 1) solid;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
<<<<<<< HEAD
    border-right: none;
   }
    .type-cont{
  border-bottom: 1px rgba(226, 232, 240, 1) solid;
   border-right: none;
   }
=======
  }
  .type-cont {
    border-bottom: 1px rgba(226, 232, 240, 1) solid;
  }
>>>>>>> b2d7aab36c7610e66badd08ce44964209f6aaa8b
  .container2 p {
    width: 98%;
  }
  .prices {
    border: none;
    height: 72px;
  }
  .input-btn {
    padding: 12px;
  }
  form button {
    width: 70%;
    border-radius: 16px;
    margin-inline: auto;
  }
  .properties {
    width: 100%;
  }
  .properties-card {
    width: 100%;
  }
  .availability {
    width: 30%;
  }
  .container3 {
    padding-inline: 0px;
    width: 90%;
  }
  .footer-links {
    flex-direction: column;
    gap: 40px;
  }
  .last-div {
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  form {
    flex-direction: column;
    width: 100%;
  }

  .container2 {
    width: 89%;
    padding-inline: 16px;
   }

  .container2 p {
    width: 98%;
  }
  .prices {
    border: none;
  }
  .input-btn {
    padding: 12px;
  }
  form button {
    width: 98%;
    border-radius: 16px;
  }
  .nav-links {
    display: none;
  }
  .header-actions {
    display: none;
  }
  .property-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .hero-section {
    width: 100%;
    margin-inline: auto;
  }
  .input-with-icon input {
    border-right: none;
  }
  .input-with-icon {
    border: none;
  }
  .type-cont {
    border-right: none;
  }
<<<<<<< HEAD
.container2 {
  width: 100%;
}
.container2 h2 {
  width: 100%;
  font-size: 33.05px;
}
.container2 p {
  width: 100%;
  font-size: 18px;
}
.prices {
  height: 72px;
}
form {
  width: 100%;
}
=======
  .container2 {
    width: 95%;
    /* margin-inline: auto; */
  }
  form {
    width: 100%;
  }
  /* optional: reduce padding so text has more room */
>>>>>>> b2d7aab36c7610e66badd08ce44964209f6aaa8b
  .dropdown-box {
    padding-right: 10px;
    padding-left: 10px;
    width: 90%;
  }
  .organization {
    text-align: center;
  }
}
